@import "_mixins";
@import "_variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100vh;
}

body {
    background-image: linear-gradient(to right, rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
     url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    color: $primary-color;
    display: grid;
    grid-template-areas: 
        "main details"
        "weekly weekly";

    @include tablet {
        height: 100vh;
        padding: 4%;
    }
}

.invisible {
    display: none;
}

.weather-icon-search {
    cursor: pointer;
}

.weather-icon {
    width: 1.2rem;

    @include desktop {
        width: 2rem;
    }

    &-form {
        width: 4.8rem;

        @include desktop {
            width: 5.5rem;
        }
    }
}

.main-weather {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    grid-area: main;
    // max-width: 55vw;

    @include desktop {
        gap: .6rem;
    }

    &__description {
        font-size: 1.6rem;
        text-transform: capitalize;
        line-height: 1;
        font-weight: bold;

        @include desktop {
            font-size: 2.4rem;
        }
    }

    &__city-name {
        font-size: 0.72rem;
        text-transform: capitalize;

        @include desktop {
            font-size: 1.3rem;
        }
    }

    &__time {
        font-size: 0.56rem;

        @include desktop {
            font-size: 0.65rem;
        }
    }

    &__temp {
        font-size: 2.4rem;

        @include desktop {
            font-size: 3.5rem;
        }
    }

    &__search {
        display: flex;
        border-bottom: 2px solid $primary-color;
        max-width: 150px;
        margin-top: 15px;

        &__searchbar {
            background: none;
            border: none;
            outline: none;
            
            padding: 5px 5px 5px 10px;
            text-transform: capitalize;
            color: $primary-color;
            font-size: 0.56rem;

            @include desktop {
                font-size: 0.76rem;
            }

            &::placeholder {
                color: $primary-color;
                letter-spacing: .5px;

            }
        }

    }

    &__not-found {

        &__text {
            font-size: 0.56rem;

            @include tablet {
                font-size: .76rem;
                
            }
        }

      
    }


    
}


.weather-stats {
    grid-area: details;
    // border: 2px solid blue;
    gap: 10px 0;
    display: flex;
    flex-direction: column;
    max-width: 110px;
    justify-self: end;

    @include desktop {
        gap: 35px 0;
        max-width: 170px;
    }

    

    &__status {
        font-size: 0.56rem;
        // border: 1px solid green;
        display: flex;
        gap: 0 10px;

        @include desktop {
            font-size: .75rem;
        }

        &__image {      
            align-self: start;
        }

        &__container {
            display: flex;
            flex-direction: column;
            gap: 3px 0;

            &__text {
                text-transform: capitalize;
            }
    
            &__temp,
            &__humidity,
            &__chance-rain,
            &__wind-speed {
                font-size: 1.04rem;
                

                @include desktop {
                    font-size: 1.5rem;
                }
            }
        }
    }
}




.weather-weekly {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    width: 100%;
    grid-area: weekly;
    max-width: 320px;
    justify-self: center; 
    gap: .2rem;   

    // @include desktop {
    //     // flex-direction: row;
    //     display: grid;
    //     grid-template-columns: repeat(7, 1fr);        min-width: 100%;
    //     // max-height: 140px;
    //     align-self: flex-end;
    // }

    @include tablet {
        // flex-direction: row;
        display: grid;
        grid-template-columns: repeat(7, 1fr);        min-width: 100%;
        // max-height: 140px;
        align-self: flex-end;
    }    
    

    &__container {
        // border: 1px solid blue;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        // @include desktop {
        //     grid-template-columns: 1fr;
        //     grid-template-rows: 1fr 1fr 1fr 1fr;
        // }

        @include tablet {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }        

        &__day {
            grid-column: 1/3;
            text-transform: capitalize;
            font-size: 0.8rem;
            align-self: center;

            @include tablet {
                grid-column: 1/2;
                grid-row: 1/2;
                align-self: start;
                // font-size: 1rem;
            }
            
            @include desktop {
                // grid-column: 1/2;
                // grid-row: 1/2;
                // align-self: start;
                font-size: 1.2rem;
            }
        }

        &__max-temp {
            grid-column: 3/4;
            font-size: 1.2rem;

            @include tablet {
                grid-column: 1/2;
                grid-row: 2/3;
                // font-size: 1.5rem;
            }

            @include desktop {
                // grid-column: 1/2;
                // grid-row: 2/3;
                font-size: 1.8rem;
            }
        }

        &__min-temp {
            grid-row: 2/3;
            grid-column: 3/4;
            font-size: 0.56rem;

            @include tablet {
                grid-column: 1/2;
                grid-row: 3/4;
                // font-size: .66rem;
            }

            @include desktop {
                // grid-column: 1/2;
                // grid-row: 3/4;
                font-size: .76rem;
            }

        }

        &__image {
            grid-column: 4/5;
            width: 2rem;
            justify-self: center;

            @include tablet {
                grid-column: 1/2;
                grid-row: 4/5;
                justify-self: start;
            }

            @include desktop {
                // grid-column: 1/2;
                // grid-row: 4/5;
                justify-self: start;
            }
        }
    }
}